/*
@import url(_reset.css);
@import url(_variaveis.css);
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F5F5F5;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.cabecalho{
    height: 80px;
    background-color: #fff;
    margin-bottom: 3rem;
}

/* componentes */
.card{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 5px 10px darkgray;
    max-width: 752px;
    padding: 1.75rem;
    margin: 0 auto;
}
.container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.linha {
    position: absolute;
    bottom: 0;
    background-color: #DAD9D9;
    width: 100%;
    height: 1px;
}
.botao{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 46.5%;
    height: 44px;
    border: solid 2px #EB339B;
    border-radius: 3px;
    cursor: pointer;
    color: #EB339B;
}
.botao:hover{
    background-color: #9F9F9F;
    color: #fff;
}
.botao:active{
    background-color: #EB339B;
}
.seta{
    background-image: url(../assets/arrow_left_purple.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: solid 2px #EB339B;
    cursor: pointer;
}
.seta:hover{
    background-color: #9F9F9F;
    background-image: url(../assets/arrow_left_white.png);    
}
.seta:active{
    background-color: #EB339B;
    background-image: url(../assets/arrow_left_white.png);    
}

/*fim componentes*/
.avaliacao{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/*Titulo*/
.title-lacamento-notas {
    margin-bottom: 2rem;
}
.linha-title{
    position: absolute;
    background-color: #DAD9D9;
    width: 100%;
    height: 1px;
    bottom: -2rem;
}
.logo-gato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.logo-gato img {
    width: 56px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}
.data{
    color: #5A5A5A;
}
/*FIM Titulo*/

/* texto e checkBox das patas*/
.text-patas {
    display: flex;
    justify-content: space-between;
}

.text-avaliacao{
    display: flex;
    flex-direction: column;
}
.text-avaliacao h3{
    font-size: 24px;
}
.text-avaliacao p{
    font-size: 16px;
}

.container-checkbox{
    position: relative;
    width: 45px;
    height: 42px;
}
.container-checkbox input{
    position: absolute;
    opacity: 0;
}
.check{
    background: url(../assets/pata-nao-pintada.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 39px;
    cursor: pointer;
}
.check:hover{
    background: url(../assets/pata-selecionada-pintada.png) no-repeat;
    background-size: 100%;
}
.container-checkbox input:checked ~.check{
    background: url(../assets/pata-pintada.png) no-repeat;
    background-size: 100%;
}

/* FIM texto e checkBox das patas*/



/* Responsivo

@media(min-width: 800px) {
    .container {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media(min-width: 1200px) {
    .container {
        padding-left: calc((100vw - 900px)/2);
        padding-right: calc((100vw - 900px)/2);
    }
}



@media(min-width: 800px) {
    .cadastro-cabecalho__logo {
        width: 5.75rem;
        margin-bottom: 1rem;
    }
    
    .cadastro-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}
*/